<div class="container-footer">
    <div class="section">
        <p class="text-orange">Conócenos</p>
        <p>¿Quiénes somos?</p>
        <p>Trabaja con nosotros</p>
        <p>Preguntas frecuentes</p>
    </div>

    <div class="section">
        <p class="text-orange">Políticas</p>
        <p>Términos y condiciones promociones vigentes</p>
        <p>Aviso de privacidad</p>
        <p>Política de tratamiento de datos</p>
    </div>
    <div class="section">
        <p class="text-orange">Siguenos en las redes sociales</p>
        <img src="{{iconsNetwork}}" alt="" class="icon">
        <img src="" alt="" class="icon">
        <img src="" alt="" class="icon">
    </div>
</div>